body {
    position: absolute;
    width: 1440px;
    height: 1080px;
    left: 0px;
    top: 0px;
    background: #181719;
}

.main-cont {  
/* position: absolute;
width: 1440px;
height: 1080px;
left: 0px;
top: 0px;
background: #181719; */
}

.div1-cont {
    margin-right: 85px;
    margin-left: 77px ;
    margin-top: 77px;
}


.nav-item a {
    display: flex;
    font-family:"Montserrat";
    margin: 0 20px;
    list-style: none;
    font-size: 15px;
    margin-left: 75px;
    margin-bottom: 75px;
    color: white;

    height: 22px;
    width: 92px;
    left: 970px;
    top: 46px;
    background: #181719;
    width: 57px;
    height: 22px;
    left: 827px;
    top: 46px;

}

#img1 {
    width: 821.11px;
    height: 586.53px;
    left: 1395.11px;
    top: 221px;

    
}

#nav-list {
    margin-left: 700px;
    margin-bottom: 75px;
    width: 700px;
    margin-top: 40px;
}

#img2 {
    border-radius: 55px;
    box-sizing: 75px;
    padding: 15px;
    width: 85px;


}

.nav-bar {
    display: flex;
}

.main-cont {
    display: flex;
}

#logo {
    display: flex;
    font-family: 'Crimson Pro';
    font-weight: 200;
    font-size: 14px;
    color: #FFFFFF;

    position: absolute;
    width: 86px;
    height: 16px;
    left: 85px;
    top: 50px;

    position: absolute;
    width: 102px;
    height: 32px;
    left: 77px;
    top: 42px;
    
    border: 1px solid #FFFFFF;

    padding: 10px;
    padding-bottom: 2px;
    border: 1px solid #FFFFFF;

}

#h1 {
    font-family: 'Lora';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 61px;

height: 61px;
width: 365px;
left: 77px;
top: 381px;
border-radius: nullpx;


color: #FFFFFF;

}

#h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;


height: 145px;
width: 410px;
left: 77px;
top: 482px;
border-radius: nullpx;

}

#name-container1 {
    margin-left: 1px;
    margin-right: 25px;
}

#name-container2 {
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    position: left;
}

#name-container {
}

#name-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    margin-top: 35px;
    margin-left: 15px;
    
    
    color: #FFFFFF;
    
}
#name-2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
/* identical to box height */

    margin-left: 15px;


/* Gray 3 */

color: #828282;

}

#name-3 {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin-right: 40px;
    margin-top: 2px;
    margin-left: 25px;
    margin-bottom: 75px;
    color: #FFFFFF;
    position: absolute;
}

#img2-container {
    /* width: 85px;
    height: 52px;
    left: 935px;
    top: 732px; */
}

.div2-cont {    
}

#div-4 {
    display: flex;

    position: absolute;
width: 410px;
height: 189px;
left: 921px;
top: 722px;

background: #181719;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#ft {
    position: absolute;
    margin-left: 600px;
    color: white;
    margin-top:250px ;
    margin-bottom: 150px;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;    

}